* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Merienda';font-size: 22px;
    background-color: white;
}

header {
    display: flex; /* Flex container to display the child elements as flex with space between and wrap */
    justify-content: space-between;
    flex-wrap: wrap;
    list-style: none;
    color: blueviolet;
    height: 60px;
    font-size: 2vw;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: 'Merienda';font-size: 22px;
  }

.btnHeader {
    border-radius: 10px;
    background-color: white;
    text-decoration: none;
    border: 0;
    outline: 0; /* Remove border around button */
    color: blueviolet;
    font-family: 'Merienda';font-size: 20px;
}

.btnHeader:hover {

    background-color: pink;
    
  
    
}

.btn {
    border-radius: 12px;
    border: 0;
    outline: 0; /* Remove border around button */
    background-color: purple;
    color: white;
    font-family: 'Merienda';font-size: 10px;
}



#mainDiv {
    margin-left: 25%;
    margin-right: 25%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    margin-top: 50px;
    font-family: 'Merienda';font-size: 22px;
}




#gridContainer {
   /* width:65%; /* Contain the grid to a maximum of 80% of the flex wrapper */
    display: grid;
    grid-template-columns: repeat(2, 1fr) 2fr 1fr;  /* Create a 4X4 grid of same size*/
    grid-template-rows: repeat(10, 1fr); /* 4 rows of equal size */
    gap: 10px 10px; /* Gap on x and y grid */
    font-family: 'Merienda';font-size: 22px;
}


#questionDisplay {
    text-align: center;
    align-self: baseline;
    grid-column: 2 / span 2;
    grid-row: 1 / span 5;
    place-self: center;
    font-size: 30px;
}

#finalScoreDisplay {
    
    grid-column: 1 / span 2;
    grid-row: 6 / span 1;
    font-size: 15px;
}



#enterInitials {
    
    grid-column: 1 / span 1;
    grid-row: 7 / span 1;
    font-size: 15px;
}


#enterInitialsTextArea {
    
    grid-column: 2 / span 1;
    grid-row: 7 / span 1;
    font-size: 15px;
    resize: none;
    
}

#submitScore {
    grid-column: 3 / span 1;
    grid-row: 7 / span 1;
    padding: 10px 10px 10px 10px;
    border-radius: 10%;
    border: 0;
    outline: 0; /* Remove border around button */
    background-color: purple;
    color: white;
    font-family: 'Merienda';font-size: 15px;
}

#start-quiz {
    grid-column: 2 / span 2;
    grid-row: 5 / span 1;
    padding: 10px 10px 10px 10px;
    border-radius: 10%;
    border: 0;
    outline: 0; /* Remove border around button */
    background-color: purple;
    place-self: center;
    color: white;
    font-family: 'Merienda';font-size: 15px;
}

