* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Merienda';font-size: 22px;
    background-color: white;
}

header {
    display: flex; /* Flex container to display the child elements as flex with space between and wrap */
    justify-content: space-between;
    flex-wrap: wrap;
    list-style: none;
    color: blueviolet;
    height: 60px;
    font-size: 2vw;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: 'Merienda';font-size: 22px;
  }

.btnHeader {
    border-radius: 10px;
    background-color: white;
    text-decoration: none;
    border: 0;
    outline: 0; /* Remove border around button */
    color: blueviolet;
    font-family: 'Merienda';font-size: 20px;
}

.btnHeader:hover {

    background-color: pink;
    
  
    
}

.btn {
    border-radius: 12px;
    border: 0;
    outline: 0; /* Remove border around button */
    background-color: purple;
    color: white;
    font-family: 'Merienda';font-size: 10px;
}



